<p style="color: green"><%= alert %></p>

<h1>All Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to article.name, article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>

